includes:
  - %rootDir%/../../juliangut/phpstan-config/phpstan-phpunit.neon

parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - src
  scanDirectories:
      - vendor/squizlabs/php_codesniffer/src
  stubFiles:
    - stubs/FixerInterface.stub
    - stubs/ConfigurableFixerInterface.stub
